﻿@page "/"
@page "/Reports"

@inject ICurrentUserAccessor CurrentUserAccessor
@inject IReportViewService ReportViewService
@inject NavigationManager Navigator
@inject IBillingService BillingService

@if (_user != null)
{
    <h1 class="text-2xl">Hello, @_user.Name</h1>

    @foreach (var report in _reports)
    {
        <ReportPreview Report="@report" OnClick="OnButtonClick" />
    }
}

@code {

    private User _user;
    private BillingContext _billingContext;
    private IOrderedEnumerable<Report> _reports;

    private void OnButtonClick(Guid reportId)
    {
        _billingContext = new BillingContext(_user, _reports.SingleOrDefault(r => r.Id == reportId));

        try
        {
            var hasAccess = BillingService.HasAccessAsync(_billingContext).Result;

            if (hasAccess)
                Navigator.NavigateTo($"/Report/{reportId}");
            else
                Navigator.NavigateTo($"/Report/{reportId}/Payment");
        }
        catch (Exception)
        {
            //Log exception
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _user = await CurrentUserAccessor.GetUserAsync();
        _reports = await ReportViewService.GetReportsAsync(_user);
    }
}