﻿@page "/Report/{Id:guid}/Payment"

@inject NavigationManager Navigator
@inject ICurrentUserAccessor CurrentUserAccessor
@inject IBillingService BillingService
@inject IPaymentService PaymentService

@if (!_initError)
{
    <h1 class="text-2xl">Please make a purchase for your report</h1>

    <EditForm Model="@_paymentModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="flex flex-col mt-5 rounded-lg shadow overflow-hidden md:w-2/3">
            @if (_purchaseError)
            {
                <div class="md:flex md:items-center text-white font-bold mb-4 mt-1 py-1 pl-1 bg-red-500 mx-4 rounded">
                    An error has occured while purchasing report. Please try again or contact system administrator
                </div>
            }
            <div class="md:flex md:items-center mb-6 mt-4">
                <div class="md:w-1/3">
                    <label class="block text-black font-bold md:text-left mb-1 md:mb-0 ml-4" for="reportPrice">
                        Report price
                    </label>
                </div>
                <div class="md:w-2/3">
                    <label class="block text-indigo-600 font-bold md:text-left mb-1 md:mb-0" for="reportPrice">
                        @_reportPrice
                    </label>
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-black font-bold md:text-left mb-1 md:mb-0 ml-4" for="creditCardNumber">
                        Credit card number
                    </label>
                </div>
                <div class="md:w-2/3 mr-4">
                    <InputText id="creditCardNumber" @bind-Value="_paymentModel.CreditCardNumber"
                                class="bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-2 text-gray-700 focus:outline-none focus:bg-white focus:border-purple-500" />
                    <ValidationMessage For="@(() => _paymentModel.CreditCardNumber)" />
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-black font-bold md:text-left mb-1 md:mb-0 ml-4" for="expirationDate">
                        Expiration date
                    </label>
                </div>
                <div class="md:w-2/3 mr-4">
                    <InputText id="expirationDate" type="string" @bind-Value="_paymentModel.ExpirationDate"
                                class="md:w-1/3 bg-gray-100 appearance-none border-2 border-gray-200 rounded py-2 px-2 text-gray-700 focus:outline-none focus:bg-white focus:border-purple-500" />
                    <ValidationMessage For="@(() => _paymentModel.ExpirationDate)" />
                </div>
            </div>
            <div class="md:flex md:items-center mb-6">
                <div class="md:w-1/3">
                    <label class="block text-black font-bold md:text-left mb-1 md:mb-0 ml-4" for="securityCode">
                        Security code
                    </label>
                </div>
                <div class="md:w-2/3 mr-4">
                    <InputText id="securityCode" @bind-Value="_paymentModel.SecurityCode"
                                class="md:w-1/3 bg-gray-100 appearance-none border-2 border-gray-200 rounded py-2 px-2 text-gray-700 focus:outline-none focus:bg-white focus:border-purple-500" />
                    <ValidationMessage For="@(() => _paymentModel.SecurityCode)" />
                </div>
            </div>
            <div class="md:flex items-center justify-start">
                <div class="md:w-1/3 mb-3 ml-4">
                    <button class="items-center bg-green-400 hover:bg-green-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </EditForm>
}

@code { 
    [Parameter] public Guid Id { get; set; }

    private User _user;
    private Report _report;
    private PaymentModel _paymentModel = new PaymentModel();
    private int _reportPrice;
    private PurchaseRequest _purchaseRequest;
    private BillingContext _billingContext;
    private bool _initError = false;
    private bool _purchaseError = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _user = await CurrentUserAccessor.GetUserAsync();
            _report = _user.Reports.SingleOrDefault(o => o.Id == Id);

            _billingContext = new BillingContext(_user, _report);

            _reportPrice = await BillingService.CalculatePriceAsync(_billingContext);
        }
        catch (Exception)
        {
            _initError = true;
            //Log exception
        }
    }

    protected async Task HandleValidSubmit()
    {
        try
        {
            _purchaseRequest = new PurchaseRequest(_user.Id, _reportPrice);

            var purchaseResult = await PaymentService.PurchaseAsync(_purchaseRequest, default);

            Navigator.NavigateTo($"/Report/{Id}");
        }
        catch (Exception ex)
        {
            _purchaseError = true;
            //Log exception: ex.Message
        }
    }
}
